/* Resets */
@-ms-viewport {
    width: device-width;
    zoom: 1.0
}

@viewport {
    width: device-width;
    zoom: 1.0
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;}
body {
	line-height: 1;
	font: 16px/1.4em 'Raleway','PT Sans', sans-serif;;
	color: #eee;
	background-color: #212121;	
}

/* Links */
a {
	color: #40d7bc;
	text-decoration: none;
	-webkit-transition: color 0.2s ease-out;
	-moz-transition: color 0.2s ease-out;
	-o-transition: color 0.2s ease-out;
	transition: color 0.2s ease-out;
}
a:visited {
	color: #40d7bc;
}
a:hover,
a:focus,
a:active {
	color: #fff;
	text-decoration: underline;
}

/* Framework */
.wrap { 
	margin: 0 auto;
    max-width: 1000px;
    padding: 0 10px;
}

#site-header, #site-footer {
	background: #313131;
    margin: 0 auto 20px;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.05);
}

#site-header a {
	text-decoration: none;
}
/*shorter clearfix http://nicolasgallagher.com/micro-clearfix-hack/*/
		#site-header:before,
		#site-header:after {
			content:"";
			display:table;
		}

		#site-header:after {
			clear:both;
		}

#site-branding {
/*	clear: both;*/
    margin: .75em auto;
    float: left;
    padding-left: 20px;
    min-height: 48px;
}
#site-branding a {
	color: #eee;
    letter-spacing: 1px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
}

#site-branding h1 {
    font-size: 1.6em;
	margin-top: .33em;
}

#site-branding a:hover {
	color: #40d7bc;
}

#site-branding h2 {
    font-size: 0.9em;
	margin-top: .33em;
}

#site-menu {
	
}

a.to_nav {
	float: right;
	color: #fff;
	background: #1c1c1c;
	padding: 3px 11px;
	font-size: .9em/*12px*/;
	line-height: 22px;
	height: 22px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
    margin-top: 1.5em;
}

#site-nav {
	display: block;
    float: right;
    margin: .75em auto;
    max-width: 1020px;
    border-right: 1px solid #161616;	
}

#site-nav ul {
    list-style: none;
    margin: 0;
	padding-left: 0;
}

#site-nav li {
    float: left;
	font-size: .8em;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    border-left: 1px solid #161616;
}

#site-nav a {
	border-left: 1px solid #363636;
    color: #ddd;
    display: block;
    padding: 1.5em 17px;
    text-decoration: none;	
}

#site-nav a:hover {
	border-color: #000;
	background: #000;
	color: #40d7bc;
}

#site-footer {
	border-top: 1px solid #212121;
    padding: 15px 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
    width: 100%;
}

/*media queries*/

@media only screen and (min-width: 960px) {
	#site-nav .wrap { position:relative;}
	a.to_nav { 
		display: none; 
	}
	#site-nav {
		position: absolute;
		top: 5px;
		right: 10px;
		background: none;
	}	
}